<div class="toolbar toolbar--material" style="background-color: #ffa500">
	<div class="toolbar__center toolbar--material__center">
		Arya Kenceng Connect
	</div>
</div>
<div class="tabbar tabbar--top tabbar--material" style="background-color: #ffa500">
	<label class="tabbar__item tabbar--material__item">
		<input type="radio" name="tabbar-material-a" checked="checked" id="member-btn" onclick="showMemberList()">
		<button class="tabbar__button tabbar--material__button">
		Anggota
		</button>
	</label>
	<label class="tabbar__item tabbar--material__item">
		<input type="radio" name="tabbar-material-a" id="news-btn" onclick="showNewsList()">
		<button class="tabbar__button tabbar--material__button">
		Kabar
		</button>
	</label>
	<label class="tabbar__item tabbar--material__item">
		<input type="radio" name="tabbar-material-a" id="promo-btn" onclick="showPromoList()">
		<button class="tabbar__button tabbar--material__button">
		Promo
		</button>
	</label>
	<label class="tabbar__item tabbar--material__item">
		<input type="radio" name="tabbar-material-a" id="profile-btn" onclick="showProfile()">
		<button class="tabbar__button tabbar--material__button">
		Profil
		</button>
	</label>
</div>
<div id="tabbar-content">
</div>