<div class="has-text-centered" style="background-color: #ffb200; width: 100vw; padding: 3vh 3vw">
	<div  class="columns is-centered is-mobile" style=" min-height: 100px;">
		<div class="column"></div>
		<div class="is-centered column is-one-third" style="max-width: 150px; max-height: 150px;">
			<div style="clear: both; position: relative;">
				<figure class="image">
					<img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
				</figure>
				<button class="button is-square is-large" style="border-radius: 50%;position: absolute;z-index: 1;bottom: 0;right: 0;background-color: #e67f00;color: black;box-shadow: 4px 4px 2px -2px rgba(0,0,0,.1)">
				<i class="fas fa-camera"></i>
				</button>
			</div>
		</div>
		<div class="column"></div>
	</div>
	<div>
		<span class="title is-6">I Gusti Bagus Vayupranaditya Putraadinatha <i style="color: #9c9c9c" class="fas fa-pen"></i></span>
	</div>
	<div>
		<span class="subtitle is-6">Jro Titih <i style="color: #9c9c9c" class="fas fa-pen"></i></span>
	</div>
</div>
<div style="padding: 2vh 5vw">
	<div style="margin: 1vh 0">
		<label style="color: grey">Tanggal lahir</label><br>
		<span>18/03/1999 <i style="color: #bbb7b7" class="fas fa-pen"></i></span>
	</div>
	<div style="margin: 1vh 0">
		<label style="color: grey">Jenis kelamin</label><br>
		<span>Laki-laki <i style="color: #bbb7b7" class="fas fa-pen"></i></span>
	</div>
	<div style="margin: 1vh 0">
		<label style="color: grey">Status</label><br>
		<span>Single <i style="color: #bbb7b7" class="fas fa-pen"></i></span>
	</div>
	<div style="margin: 1vh 0">
		<label style="color: grey">Alamat tinggal</label><br>
		<span>HeyMart, Banjar Teges, Desa Beraban, Kecamatan Selemadeg Timur, Kabupaten Tabanan, Bali <i style="color: #bbb7b7" class="fas fa-pen"></i></span>
	</div>
	<div style="margin: 1vh 0">
		<label style="color: grey">Nomor telepon</label><br>
		<span>081236629835 <i style="color: #bbb7b7" class="fas fa-pen"></i></span>
	</div>
	<div style="margin: 1vh 0">
		<label style="color: grey">Pekerjaan</label><br>
		<span>Mahasiswa <i style="color: #bbb7b7" class="fas fa-pen"></i></span>
	</div>
	<div style="margin: 1vh 0">
		<label style="color: grey">Bidang Usaha</label><br>
		<span>Ilmu Komputer <i style="color: #bbb7b7" class="fas fa-pen"></i></span>
	</div>
</div>