<li class="list-item list-item--material">
	<div class="list-item__left list-item--material__left">
		<img class="list-item__thumbnail" src="{{img_url}}" alt="Cute kitten">
	</div>
	<div class="list-item__center list-item--material__center">
		<div class="list-item__title list-item--material__title">{{title}}</div>
		<div class="list-item__subtitle list-item--material__subtitle is-size-7">{{status}}</div>
		<div class="list-item__subtitle" style="color: black"><span style="-webkit-line-clamp: 2;">{{content}}</span></div>
	</div>
</li>